<style>
  header {
    border: 2px solid #B5C401;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: #B5C401;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10%;
    background-color: white;
    margin-bottom: 10px;
  }
</style>

<header>
  <h1>{{ title }}</h1>
</header>