@include('partials.container')
@include('partials.content_container')

@include('partials.header')

<body>
  <div class="container">
    <p>
      Olá, se você requisitou uma troca de senha você pode clicar <a href={{url}}>aqui</a>.
    </p>
    <br>
    <br>
    <p>Caso você não tenha requisitado esta troca de senha, sugerimos que você troque sua senha do Cash Bank.</p>
  </div>
</body>