@include('partials.container')
@include('partials.content_container')

@include('partials.header')

<body>
  <div class="container">
    <p>
      Olá {{name}}! Você tem uma nova atualização no status de da sua conta no Cash-Bank!
    </p>
    <br>
    <br>
    <p>O seu status no momento é de: {{status}}</p>
  </div>
</body>